@import '_62.scss'; 
@import '_43.scss'; 
@import '_45.scss'; 
@import '_48.scss'; 
@import '_28342.scss'; 
@import '_50.scss'; 
@import '_56.scss'; 
@import '_58.scss'; 
@import '_60.scss'; 
@import '_28332.scss'; 
@import '_125.scss'; 
@import '_130.scss'; 

html .oxygen-body {
    min-height: 100vh; 
    background-image:   radial-gradient(at 99% 1%, #fff9e5, rgba(255, 255, 255, 0) 43%), 
                        radial-gradient(at 0% 0%, white 0, transparent 50%), 
                        radial-gradient(at 0% 99%, #fff8ed 0, transparent 50%), 
                        radial-gradient(at 100% 100%, #c2d0ff 0, transparent 50%);
    
    img{
        max-width: 100%;
        height: auto;
    }

}



.sticky-wrap{
    position: relative;
}

.sticky{
    position: sticky;
    top: 20px;
}

