html .product-list {
    
    // display: grid;
    // grid-template-columns: 1fr 1fr 1fr;
    // column-gap: var(--space-l);
    // row-gap: var(--space-l);

    > *:first-child {

        background: #FFFFFF;
        box-shadow: 0 100px 100px -50px #c8b269;
        transition: all ease-in-out 0.2s;

    }

    &:hover > *:first-child {

        background: unset;
        box-shadow: unset;
        transition: all ease-in-out 0.2s;
        
    }

    div:hover{
        background: #FFFFFF !important;
        box-shadow: 0 100px 100px -50px #c8b269 !important;
        transition: all ease-in-out 0.2s;
    }


}
