<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="utf-8">
    <title>{{ page.title }} - {{ site.title }}</title>
    
    <style>
      @font-face {
        font-family: 'Title';
        font-weight: 400;
        font-style: normal;
        src: 	url({{ "/assets/css/fonts/title.woff2" | relative_url }}) format('woff2');
        font-display: auto;
      }
    </style>

    <link rel="stylesheet" href="{{ "/assets/css/output.css" | relative_url }}">
  </head>
  <body>

  <div class=" bg-slate-100 p-6">
      <a href="{{ site.url }}">Homepage</a>
  </div>
  
