@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";
@import "./root.css";
@import "./type.css";
@import "./layout.css";


.plugin-card{
    @apply rounded overflow-hidden;
}

.plugin-card h2{
    @apply text-md;
}

.wp-block-embed__wrapper{
    position: relative;
    overflow: hidden;
    width: 100%;
    padding-top: 56.25%; /* 16:9 Aspect Ratio (divide 9 by 16 = 0.5625) */
}

.wp-block-embed__wrapper iframe{
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    width: 100%;
    height: 100%;
}

html {
    min-height: 100%;
    height: 100%;
}
body:has(.plugins-wrap){
    display: flex;
    flex-direction: column;
    min-height: 100%;
    height: 100%;
}

.plugins-wrap{
    flex-grow: 1;
}

.nav-item.top-level{
    display: none;
}

.nav-item.top-level .current a{
    @apply bg-slate-200;
}

.nav-item.top-level:has(.nav-item) {
    display: block;
}

@media only screen and (min-width: 1700px)  { 
    
    body.plugins pre, 
    body.plugins figure{
        @apply rounded-lg overflow-hidden w-full;
        margin-left: calc(var(--space-size-xxl) * -1);
        margin-right: calc(var(--space-size-xxl) * -1);
        width: calc(100% + calc(var(--space-size-xxl) * 2 ));
    }
}

pre{
    @apply my-xl bg-slate-100 p-lg rounded;
}


.col-2{
    @apply grid grid-cols-1 md:grid-cols-2 gap-xl ;
}

.col-3{
    @apply grid grid-cols-1 md:grid-cols-3 gap-xl ;
}

.col-4{
    @apply grid grid-cols-1 md:grid-cols-4 gap-xl ;
}


/* Copy Code Button */

pre.highlight{
    position: relative;
}

pre.highlight > button {
    opacity: 0;
    position: absolute;
    top: 10px;
    right: 10px;
}

pre.highlight:hover > button {
opacity: 1;
}

pre.highlight > button:active,
pre.highlight > button:focus {
opacity: 1;
}