@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";
@import "./root.css";
@import "./type.css";
@import "./layout.css";


.plugin-card{
    @apply rounded overflow-hidden;
}

.plugin-card h2{
    @apply text-md;
}

.wp-block-embed__wrapper{
    position: relative;
    overflow: hidden;
    width: 100%;
    padding-top: 56.25%; /* 16:9 Aspect Ratio (divide 9 by 16 = 0.5625) */
}

.wp-block-embed__wrapper iframe{
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    width: 100%;
    height: 100%;
}

html {
    min-height: 100%;
    height: 100%;
}
body:has(.plugins-wrap){
    display: flex;
    flex-direction: column;
    min-height: 100%;
    height: 100%;
}

.plugins-wrap{
    flex-grow: 1;
}

@media only screen and (min-width: 1700px)  {
    
    pre, 
    figure{
        @apply -mx-xxl rounded-lg overflow-hidden;
    }

}