:root{
    
    /* https://www.fluid-type-scale.com/calculate?minFontSize=14&minWidth=400&minRatio=1.333&maxFontSize=17&maxWidth=1680&maxRatio=1.414&steps=sm%2Cbase%2Cmd%2Clg%2Cxl%2Cgiga&baseStep=base&prefix=font-size&decimals=&previewFont=Inter */

    --font-size-sm: clamp(11px, 0vw + 10px, 12px);
    --font-size-base: clamp(14px, 0vw + 13px, 17px);
    --font-size-md: clamp(19px, 0vw + 17px, 24px);
    --font-size-lg: clamp(25px, 1vw + 22px, 34px);
    --font-size-xl: clamp(33px, 1vw + 29px, 48px);
    --font-size-giga: clamp(44px, 2vw + 37px, 68px);

    --font-size-ultra: clamp(1.55rem, 9.72vw + 1.19rem, 11.39rem);


    /* https://www.fluid-type-scale.com/calculate?minFontSize=2&minWidth=400&minRatio=1.7&maxFontSize=2&maxWidth=1680&maxRatio=2&steps=sm%2Cbase%2Cmd%2Clg%2Cxl%2Cxxl%2Cxxxl%2Cgiga&baseStep=sm&prefix=space-size&decimals=2&previewFont=Inter */

    --space-size-sm: clamp(2px, 0vw + 2px, 2px);
    --space-size-base: clamp(3.4px, 0.05vw + 3.21px, 4px);
    --space-size-md: clamp(5.78px, 0.17vw + 5.09px, 8px);
    --space-size-lg: clamp(9.83px, 0.48vw + 7.9px, 16px);
    --space-size-xl: clamp(16.7px, 1.19vw + 11.92px, 32px);
    --space-size-xxl: clamp(28.4px, 2.78vw + 17.27px, 64px);
    --space-size-xxxl: clamp(48.28px, 6.23vw + 23.36px, 128px);
    --space-size-giga: clamp(82.07px, 13.59vw + 27.71px, 256px);
}