.oxygen-body .search-results .footnote {
  font-size: 0.8em;
}
.oxygen-body .algolia-search-highlight {
  background-color: #64fcc2;
  background-color: #64fcc2;
  padding: 5px 1px;
}
.oxygen-body .readmore-icon {
  opacity: 0;
}
.oxygen-body a:hover .readmore-icon {
  opacity: 1;
}

