html { font-size: 16px; }

.oxygen-body {
    background: #ffffff;
    font-family: 'Body', sans-serif;
    font-weight: 400;
    line-height: 1.75;
    color: #000000;

    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;

    overflow-x: hidden;

    font-size: 0.9rem;
    font-size: clamp(0.9rem, 0.85rem + 0.25vw, 1.15rem);
}

.oxygen-body p{
    margin-bottom: 1rem;
}

.oxygen-body h1, 
.oxygen-body h2, 
.oxygen-body h3, 
.oxygen-body h4, 
.oxygen-body h5 {
    
    margin: 4rem 0 0 0;    
    font-family: 'Title', sans-serif;
    font-weight: 800;
    line-height: 1;
    letter-spacing: .05em;

}

.oxygen-body  h1 {
    margin-top: 0;
    font-size: 2.4rem;
    font-size: clamp(2.4rem, 3.6rem + -1vw, 3.4rem);
}

.oxygen-body  h2 {
    font-size: 2rem;
    font-size: clamp(3rem, 2.3rem + -0.25vw, 2.25rem);
}

.oxygen-body  h3 {
    font-size: 2rem;
    font-size: clamp(2rem, 1.58rem + -0.3999999999999999vw, 1.5rem);
}

.oxygen-body  h4 {
    font-size: 0.9rem;
    font-size: clamp(0.9rem, 0.85rem + 0.25vw, 1.15rem);
}

.oxygen-body .title__large{
    font-size: 2.6rem;
    font-size: clamp(2.6rem, 2.12rem + 2.4vw, 5rem);    

    font-family: 'Title', sans-serif;
    letter-spacing: .02em;
}

.oxygen-body .title__intro,
.oxygen-body .title__intro * {
    font-size: 1.6rem;
    font-size: clamp(1.6rem, 2.08rem + -0.3999999999999999vw, 2rem);

    line-height: 1.3;
    font-family: 'Body', sans-serif;
    font-weight: 300;
    margin-top: 0;
    letter-spacing: 0;    
}

.oxygen-body small, 
.oxygen-body .text_small {font-size: 0.75rem;}

.oxygen-body b,
.oxygen-body strong{  font-weight: 800;   }








