{% include header.html %}

<div id="hero-banner" class=" bg-[#151515] text-white py-xxl">
  <div class="container">    
    <h1 class="text-ultra font-title font-normal">
      DPlugins
      <span class="text-giga block tracking-wide	">
        Official Documentation Page
      </span>
    </h1>

  </div>
</div>

<div id="plugins">
  <div class="container grid grid-cols-4 gap-xxl my-xxl">
      {% include 
          plugin-card.html 
          link="acf-blocks" 
          img="acf-blocks.jpg" 
          title="Acf Blocks" 
      %}

      {% include 
          plugin-card.html 
          link="asura" 
          img="asura.jpg" 
          title="Asura" 
      %}

      {% include 
          plugin-card.html 
          link="collaboration" 
          img="collaboration.jpg" 
          title="Collaboration" 
      %}

      {% include 
          plugin-card.html 
          link="devkit" 
          img="devkit.png" 
          title="Devkit" 
      %}
      {% include 
          plugin-card.html 
          link="font-hero" 
          img="font-hero.jpg" 
          title="Font Hero" 
      %}

      {% include 
          plugin-card.html 
          link="oxy-font-manager" 
          img="oxy-font-manager.jpg" 
          title="OxyFont Manager" 
      %}

      {% include 
          plugin-card.html 
          link="plain-classes-gut" 
          img="temp.jpg" 
          title="Plain Classes Gutenberg" 
      %}

      {% include 
          plugin-card.html 
          link="sandbox" 
          img="sandbox.jpg" 
          title="Sandbox" 
      %}
      {% include 
          plugin-card.html 
          link="scripts-organizer" 
          img="scripts-organizer.jpg" 
          title="Scripts Organizer" 
      %}

      {% include 
          plugin-card.html 
          link="swiss-knife" 
          img="swiss-knife.jpg" 
          title="Swiss Knife Oxygen" 
      %}

      {% include 
          plugin-card.html 
          link="winden" 
          img="winden.jpg" 
          title="Winden" 
      %}

      {% include 
          plugin-card.html 
          link="wp-admin-cleaner" 
          img="wp-admin-cleaner.jpg" 
          title="WP Admin Cleaner" 
      %}
  </div>
</div>

<div class="bg-white">
  <!-- Header -->
  <div class="relative bg-gray-800 py-xxxl">
    <div class="absolute inset-0">
      <img class="h-full w-full object-cover" src="https://images.unsplash.com/photo-1525130413817-d45c1d127c42?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1920&q=60&&sat=-100" alt="">
      <div class="absolute inset-0 bg-gray-800 mix-blend-multiply" aria-hidden="true"></div>
    </div>
    <div class="container relative py-xl px-base">
      <h1 class="font-bold tracking-tight text-white">Support</h1>
      <p class="mt-base max-w-[800px] text-gray-300 text-md">Varius facilisi mauris sed sit. Non sed et duis dui leo, vulputate id malesuada non. Cras aliquet purus dui laoreet diam sed lacus, fames. Dui, amet, nec sit pulvinar.</p>
    </div>
  </div>

  <!-- Overlapping cards -->
  <section class="container relative z-10  -mt-xxl  px-base pb-xxl" aria-labelledby="contact-heading">
    <h2 class="sr-only" id="contact-heading">Contact us</h2>
    <div class="grid grid-cols-1 gap-y-md lg:grid-cols-3 lg:gap-xxl">

      <div class="flex flex-col rounded-lg bg-white shadow-xl">
        <div class="relative flex-1 px-xl pt-xxl pb-xl">
          <div class="absolute top-0 inline-block -translate-y-1/2 transform rounded-lg bg-indigo-600 p-lg shadow-lg">
            <!-- Heroicon name: outline/phone -->
            <svg class="h-[24px] w-[24px] text-white" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" aria-hidden="true">
              <path stroke-linecap="round" stroke-linejoin="round" d="M2.25 6.75c0 8.284 6.716 15 15 15h2.25a2.25 2.25 0 002.25-2.25v-1.372c0-.516-.351-.966-.852-1.091l-4.423-1.106c-.44-.11-.902.055-1.173.417l-.97 1.293c-.282.376-.769.542-1.21.38a12.035 12.035 0 01-7.143-7.143c-.162-.441.004-.928.38-1.21l1.293-.97c.363-.271.527-.734.417-1.173L6.963 3.102a1.125 1.125 0 00-1.091-.852H4.5A2.25 2.25 0 002.25 4.5v2.25z" />
            </svg>
          </div>
          <h2 class="font-medium text-gray-900">Sales</h2>
          <p class="mt-base text-base text-gray-500">Varius facilisi mauris sed sit. Non sed et duis dui leo, vulputate id malesuada non. Cras aliquet purus dui laoreet diam sed lacus, fames.</p>
        </div>
        <div class="rounded-bl-xxl rounded-br-xxl bg-gray-50 px-xl py-lg">
          <a href="#" class="text-base font-medium text-indigo-700 hover:text-indigo-600">Contact us<span aria-hidden="true"> &rarr;</span></a>
        </div>
      </div>

      <div class="flex flex-col rounded-lg bg-white shadow-xl">
        <div class="relative flex-1 px-xl pt-xxl pb-xl">
          <div class="absolute top-0 inline-block -translate-y-1/2 transform rounded-lg bg-indigo-600 p-lg shadow-lg">
            <!-- Heroicon name: outline/phone -->
            <svg class="h-[24px] w-[24px] text-white" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" aria-hidden="true">
              <path stroke-linecap="round" stroke-linejoin="round" d="M2.25 6.75c0 8.284 6.716 15 15 15h2.25a2.25 2.25 0 002.25-2.25v-1.372c0-.516-.351-.966-.852-1.091l-4.423-1.106c-.44-.11-.902.055-1.173.417l-.97 1.293c-.282.376-.769.542-1.21.38a12.035 12.035 0 01-7.143-7.143c-.162-.441.004-.928.38-1.21l1.293-.97c.363-.271.527-.734.417-1.173L6.963 3.102a1.125 1.125 0 00-1.091-.852H4.5A2.25 2.25 0 002.25 4.5v2.25z" />
            </svg>
          </div>
          <h2 class="font-medium text-gray-900">Sales</h2>
          <p class="mt-base text-base text-gray-500">Varius facilisi mauris sed sit. Non sed et duis dui leo, vulputate id malesuada non. Cras aliquet purus dui laoreet diam sed lacus, fames.</p>
        </div>
        <div class="rounded-bl-xxl rounded-br-xxl bg-gray-50 px-xl py-lg">
          <a href="#" class="text-base font-medium text-indigo-700 hover:text-indigo-600">Contact us<span aria-hidden="true"> &rarr;</span></a>
        </div>
      </div>

      <div class="flex flex-col rounded-lg bg-white shadow-xl">
        <div class="relative flex-1 px-xl pt-xxl pb-xl">
          <div class="absolute top-0 inline-block -translate-y-1/2 transform rounded-lg bg-indigo-600 p-lg shadow-lg">
            <!-- Heroicon name: outline/phone -->
            <svg class="h-[24px] w-[24px] text-white" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" aria-hidden="true">
              <path stroke-linecap="round" stroke-linejoin="round" d="M2.25 6.75c0 8.284 6.716 15 15 15h2.25a2.25 2.25 0 002.25-2.25v-1.372c0-.516-.351-.966-.852-1.091l-4.423-1.106c-.44-.11-.902.055-1.173.417l-.97 1.293c-.282.376-.769.542-1.21.38a12.035 12.035 0 01-7.143-7.143c-.162-.441.004-.928.38-1.21l1.293-.97c.363-.271.527-.734.417-1.173L6.963 3.102a1.125 1.125 0 00-1.091-.852H4.5A2.25 2.25 0 002.25 4.5v2.25z" />
            </svg>
          </div>
          <h2 class="font-medium text-gray-900">Sales</h2>
          <p class="mt-base text-base text-gray-500">Varius facilisi mauris sed sit. Non sed et duis dui leo, vulputate id malesuada non. Cras aliquet purus dui laoreet diam sed lacus, fames.</p>
        </div>
        <div class="rounded-bl-xxl rounded-br-xxl bg-gray-50 px-xl py-lg">
          <a href="#" class="text-base font-medium text-indigo-700 hover:text-indigo-600">Contact us<span aria-hidden="true"> &rarr;</span></a>
        </div>
      </div>

    </div>
  </section>




</div>
  
  {{ content }}

{% include footer.html %}