{% include header.html %}

    <div class="flex plugins-wrap">

        <nav class="w-[260px] border-r border-slate-200 bg-slate-50 p-lg">
            <div class="sticky top-[60px]">
                {% assign grouped = site.plugins | sort: 'category_order' | group_by: 'category'  %}
                {% assign path_array = page.path | split: "/" %}
                
                {% for group in grouped %}
                    <div class="nav-item top-level {% if group.name == page.category %}current{% endif %}">
                        
                        
                        
                        <div class="mb-8">

                            <h4 class="mb-md uppercase p-md">{{ group.name }}</h4>

                            {% for item in group.items %}
                                {% if item.url contains path_array[1] %}
                                    <div class="nav-item {% if item.url == page.url %}current{% endif %} test">
                                        <a class="p-md block rounded-md" href="{{ site.baseurl }}{{ item.url }}">{{ item.title }}</a>
                                    </div>
                                {% endif %}
                            {% endfor %}
                            
                            <hr class="my-xl">

                        </div>


                    </div>
                {% endfor %}
    
                <!-- {% assign path_array = page.path | split: "/" %}                         
                {% for plugin in site.plugins %}
                {% if plugin.url contains path_array[1] %}
                    
                    <h2 class=" border-b border-slate-100 !py-4">
                        <a href="{{ plugin.url }}">{{ plugin.title }}</a>
                    </h2>
        
                {% endif %}
                {% endfor %} -->
            </div>
        </nav> 

        <div class="grow">
            <div class="container-narrow flex py-xxl gap-xxxl"> 
                <main class="w-full">                    
                    
                    <h1 class="font-title text-giga font-normal tracking-wide mb-xl">
                        {{ page.title }}
                    </h1>
                    
                    <div class="prose w-full min-w-full">
                        {{ content | inject_anchors }}      
                    </div>
                                        
                    <div class="mt-xxl p-lg text-center border border-2 border-slate-700">
                        <p>This site is an open source documentation. <span class=" underline ">
                            <a target="_blank" href="https://github.com/dplugins/dplugins.github.io/edit/main/{{ page.path }}">Improve this page on GitHub</a>
                        </span></p>
                    </div>
                
                </main>
        
                <aside class="w-[260px]">
                    <div class="sticky top-[60px] p-xl bg-slate-50 rounded border border-slate-200">
                        <h4 class="mb-md uppercase">On the page</h4>
                        {% include toc.html html=content %}
                    </div>
                </aside> 
            </div>
        </div>

    
    </div>

<script>
    // assets/js/post.js
    var codeBlocks = document.querySelectorAll('pre.highlight');

    codeBlocks.forEach(function (codeBlock) {
    var copyButton = document.createElement('button');
    copyButton.className = 'copy';
    copyButton.type = 'button';
    copyButton.ariaLabel = 'Copy code to clipboard';
    copyButton.innerText = 'Copy';

    codeBlock.append(copyButton);

    copyButton.addEventListener('click', function () {
        var code = codeBlock.querySelector('code').innerText.trim();
        window.navigator.clipboard.writeText(code);

        copyButton.innerText = 'Copied';
        var fourSeconds = 4000;

        setTimeout(function () {
        copyButton.innerText = 'Copy';
        }, fourSeconds);
    });
    });
</script>    

<style>
    pre.highlight{
        position: relative;
    }

    pre.highlight > button {
        opacity: 0;
        position: absolute;
        top: 10px;
        right: 10px;
    }

    pre.highlight:hover > button {
    opacity: 1;
    }

    pre.highlight > button:active,
    pre.highlight > button:focus {
    opacity: 1;
    }
</style>

{% include footer.html %}