{% include header.html %}

{% for category in plugin.categories %}
    {{ category }}
{% endfor %}

    <div class="flex plugins-wrap">

        <nav class="w-[260px] border-r border-slate-200 bg-slate-50 p-xl">
            <div class="sticky top-[60px]">
                {% assign grouped = site.plugins | | sort: 'order' | group_by: 'category' %}
                {% assign path_array = page.path | split: "/" %}
                
                {% for group in grouped %}
                    <div class="nav-item top-level {% if group.name == page.category %}current{% endif %}">
                        
                        
                        
                        <div class="mb-8">

                            <h4 class="mb-md uppercase">{{ group.name }}</h4>

                            {% for item in group.items %}
                                {% if item.url contains path_array[1] %}
                                    <div class="nav-item {% if item.url == page.url %}current{% endif %} test">
                                        <a href="{{ site.baseurl }}{{ item.url }}">{{ item.title }}</a>
                                    </div>
                                {% endif %}
                            {% endfor %}
                            
                            <hr class="my-xl">

                        </div>


                    </div>
                {% endfor %}
    
                <!-- {% assign path_array = page.path | split: "/" %}                         
                {% for plugin in site.plugins %}
                {% if plugin.url contains path_array[1] %}
                    
                    <h2 class=" border-b border-slate-100 !py-4">
                        <a href="{{ plugin.url }}">{{ plugin.title }}</a>
                    </h2>
        
                {% endif %}
                {% endfor %} -->
            </div>
        </nav> 

        <div class="grow">
            <div class="container-narrow flex py-xxl gap-xxxl"> 
                <main >                    
                    
                    <h1 class="font-title text-giga font-normal tracking-wide mb-xl">
                        {{ page.title }}
                    </h1>
                    
                    <div class="prose">
                        {{ content | inject_anchors }}      
                    </div>

                </main>
        
                <aside class="w-[260px]">
                    <div class="sticky top-[60px] p-xl bg-slate-50 rounded border border-slate-200">
                        <h4 class="mb-md uppercase">On the page</h4>
                        {% include toc.html html=content %}
                    </div>
                </aside> 
            </div>
        </div>

    
    </div>

{% include footer.html %}